body{
  font-family: 'Lato', sans-serif;
}

h1 a{
  color: red;
  font-size: 60px;
  text-decoration: none;
  font-family: ;

}

nav a{
    padding-right: 2%;
    font-size: 20px;
    color: lightgrey;
  }

h2 a{
  font-size: 40px;
  color: black;
  text-decoration: none;
}

h3{
  font-size: 40px;
  color: lightgrey;
}

h4 a{
  color: red;
  text-decoration: none;
}

.place{
  position: absolute; bottom:50px; right:50%;
}

.place1{
  position: absolute; bottom:-750px; right:50%;

}
p{
  width: 50%;
}

p::first-letter{
  color: lightgrey;
  font-size: 100px;
}

.ny{
  height: 150px;
  width: 50%;
}

.paris{
  width: 50%;
}

.footernav a{
  color: red;
  text-decoration: none;

}
