body{
  font-family: 'Lato', sans-serif;
  margin:10%;
}

h1 a{
  color: red;
  font-size: 60px;
  text-decoration: none;
}

nav a{
    padding-right: 2%;
    font-size: 20px;
    color: lightgrey;
  }

h2 a{
  font-size: 40px;
  color: black;
  text-decoration: none;
}

h3{
  font-size: 40px;
  color: lightgrey;
  margin:70px 0px 0px 0px;
}

h4 a{
  text-decoration: none;
  color: red;
  float: right;
  margin:0 auto;
}

article{
  padding-bottom: 30px;
  border-bottom:solid lightgrey;
  border-bottom-width: thin;
}

p{
  font-size: 25px
}

article p::first-letter{
  margin: 0px 30px 0px 0px;
  float:left;
  color: lightgrey;
  font-size: 100px;
}

.ny{
    max-width: 100%;
    height: auto;
    width: auto\9
}

.paris{
  width:100%;
}

.footernav a{
  color: red;
  text-decoration: none;
}

footer p{
  font-size: 10px;
}

footer{
  margin:30px 0px 0px 0px
}
